label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #f48fb1;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ec407a;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
